<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{#special}}
    <div>
        {{studentName}}:
        {{carBrand}}:
        {{carColor}}:
        {{carShade}}
    </div>
{{/special}}

<!--<p>Lista de nume de  studenti la {{university}}: </p> <br><br>-->
<!--&lt;!&ndash;List<String>&ndash;&gt;-->
<!--{{#studentsNames}}-->
<!--<div>-->
<!--    {{.}}-->
<!--</div>-->
<!--{{/studentsNames}}-->

<!--<br><br><br>-->
<!--Lista de studenti la {{university}}:-->
<!--{{#studentsAtUniversity}}-->
<!--<div>-->
<!--    {{id}}: {{name}}: {{university}}-->
<!--</div>-->
<!--{{/studentsAtUniversity}}-->
</body>
</html>